<%- include('partials/header.ejs') %>

<h1 class="text-center">Les articles</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://images.scribblelive.com/2021/2/9/b172c5c6-5a22-42bf-bcea-4db3e333ec87.jpg"
                    class="card-img-top" alt="neige">
                <div class="card-body">
                    <h5 class="card-title">Neige</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Lire la suite...</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>