<%- include('partials/header.ejs') %>

<div class="container">
    <form action="/update-auteur/<%= auteur.auteurID %>?_method=PUT" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nom</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nom" name="nom"
                value="<%= auteur.nom %> ">
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
</div>